@font-face {
    font-family: 'jf-openhuninn';
    font-weight: 400;
    src: url("jf-openhuninn.ttf");
  }
body{
    font-family: "jf-openhuninn", "微軟正黑體", "LiHei Pro", "Roboto", Lato, Arial, "Open Sans", "Noto Sans TC", sans-serif;
    font-size: 11pt;
    line-height: 1.5em;
}