/*@font-face {
    font-family: 'jf-openhuninn';
    font-weight: 400;
    src: url("jf-openhuninn.ttf");
  }*/
body{
    font-family: "Roboto", Lato, Arial, "微軟正黑體",'Noto Sans TC', "LiHei Pro",  "Open Sans", "Noto Sans TC", sans-serif;
    font-size: 11pt;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Lato, Arial, "Noto Sans TC", "微軟正黑體", "LiHei Pro",  "Open Sans", sans-serif;
  letter-spacing: 1px;
}
input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 1px solid blue;
}